.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .card {
        width: 360px;
        padding: 16px;
        height: 240px;
        border: 1px solid #e4e4e4;
        border-radius: 8px;
        background-color: #0f0f0f;
        transition-duration: 0.15s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &:hover {
            background-color: rgb(31, 31, 31);
        }
    }
}
